In [2]:
import pandas as pd
import glob
import os

folder_path = r'/Users/houleyeanne/Documents/FinSent/data/raw/kaggle' # use your path

all_files = glob.glob(os.path.join(folder_path, "*.csv"))

print(f"Nombre de fichiers trouvés: {len(all_files)}")

# Lecture et concaténation
df_list = [pd.read_csv(file) for file in all_files]
df = pd.concat(df_list, ignore_index=True)

# Vérification rapide
print(df.shape)
print(df.head())

#df.to_csv("/Users/houleyeanne/Documents/FinSent/data/cleaned/all_stock_prices.csv", index=False)
print("✅ Fichier unique créé: data/processed/all_stock_prices.csv")

Nombre de fichiers trouvés: 12
(6461, 8)
         Date        Open        High         Low       Close   Volume  \
0  2019-05-31  271.279999  272.910004  268.750000  270.899994  2526600
1  2019-06-03  270.510010  272.809998  257.529999  259.029999  3903400
2  2019-06-04  263.269989  268.929993  257.459991  268.709991  3750800
3  2019-06-05  272.779999  273.209991  268.390015  272.859985  2650400
4  2019-06-06  273.720001  275.760010  271.049988  274.799988  2211800

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0
✅ Fichier unique créé: data/processed/all_stock_prices.csv

In [3]:

# Convertir Date en datetime
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

# Supprimer les doublons
df = df.drop_duplicates()

# Supprimer lignes avec Date vide
df = df.dropna(subset=["Date"])

# Vérification des NaN restants
print(df.isna().sum())

# Aperçu
print(df.info())
print(df.shape)
print(df.head())

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6461 entries, 0 to 6460
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6461 non-null   datetime64[ns]
 1   Open          6461 non-null   float64
 2   High          6461 non-null   float64
 3   Low           6461 non-null   float64
 4   Close         6461 non-null   float64
 5   Volume        6461 non-null   int64
 6   Dividends     6461 non-null   float64
 7   Stock Splits  6461 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 403.9 KB
None
(6461, 8)
        Date        Open        High         Low       Close   Volume  \
0 2019-05-31  271.279999  272.910004  268.750000  270.899994  2526600
1 2019-06-03  270.510010  272.809998  257.529999  259.029999  3903400
2 2019-06-04  263.269989  268.929993  257.459991  268.709991  3750800
3 2019-06-05  272.779999  273.209991  268.390015  272.859985  2650400
4 2019-06-06  273.720001  275.760010  271.049988  274.799988  2211800

   Dividends  Stock Splits
0        0.0           0.0
1        0.0           0.0
2        0.0           0.0
3        0.0           0.0
4        0.0           0.0

In [5]:
df_gdelt = pd.read_csv("/Users/houleyeanne/Documents/FinSent/data/raw/gdelt_events.csv")

# Convertir la date au format YYYY-MM-DD
df_gdelt["SQLDATE"] = pd.to_datetime(df_gdelt["SQLDATE"], format="%Y%m%d", errors="coerce")

# Renommer la colonne pour plus de clarté
df_gdelt = df_gdelt.rename(columns={"SQLDATE": "Date"})

# Remplacer NaN par UNKNOWN
df_gdelt["Actor1Name"] = df_gdelt["Actor1Name"].fillna("UNKNOWN")
df_gdelt["Actor2Name"] = df_gdelt["Actor2Name"].fillna("UNKNOWN")

# Vérification
print(df_gdelt.isna().sum())
print(df_gdelt.head())

Date              0
SourceURL         0
Actor1Name        0
Actor2Name        0
EventCode         0
GoldsteinScale    0
AvgTone           0
dtype: int64
        Date                                          SourceURL    Actor1Name  \
0 2025-09-18  https://www.zonebourse.com/actualite-bourse/el...  MANUFACTURER
1 2025-09-18  https://www.zonebourse.com/actualite-bourse/el...     STOCKHOLM
2 2025-09-18  https://www.prnewswire.com/news-releases/nomin...     STOCKHOLM
3 2025-09-18  https://www.prnewswire.com/news-releases/nomin...       UNKNOWN
4 2025-09-18  https://www.globalsecurity.org/military/librar...     STOCKHOLM

     Actor2Name  EventCode  GoldsteinScale   AvgTone
0     STOCKHOLM         46             7.0  0.000000
1  MANUFACTURER         46             7.0  0.000000
2       UNKNOWN         36             4.0  0.380965
3     STOCKHOLM         36             4.0  0.380965
4     BRAZILIAN         40             1.0  1.923077